<phpunit
  bootstrap="tests/bootstrap.php"
  colors="true"
  printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
>

  <testsuites>
    <testsuite name="test">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">classes</directory>
    </include>
  </coverage>


</phpunit>
